#app {
  display: flex;
  background-color: black;
  color: white;
}

html {
  background-color: black;
}

#navbar {
  color: black;
  padding: 50px;
  margin: 40px;
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  border-right: thick double black;
  position: fixed;
}

#landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#social {
  display: flex;
  flex-direction: column;
}

ion-icon {
  color: black;
}
