#app {
  display: flex;
}

#navbar {
  padding: 50px;
  margin: 40px;
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  border-right: thick double black;
  position: fixed;
}

#landingBox {
  display: flex;
  justify-content: center;
}
